.modal-open{overflow:hidden}
.modal,.modal-bg{position:fixed;left:0;top:0;right:0;bottom:0;display:block}
.modal{width:100%;overflow-x:hidden;overflow-y:scroll;z-index:999}
.modal-bg{background:#000;opacity:.6;filter:alpha(opacity=60)}
.modal-header,.modal-body{padding:10px}
.modal-content{position:relative;margin:30px auto;width:600px;background:#fff;border-radius:5px}
.modal-header{line-height:1.6em;border-bottom:1px solid #e5e5e5}
.modal-close{float:right;font-size:20px;font-weight:700;cursor:pointer;opacity:.6;filter:alpha(opacity=60)}
.modal-close:hover{opacity:1;filter:alpha(opacity=100)}
.modal-hidden{display:none;}